.contenidoCard {
  width: 90%;
  min-height: 100vh;
  margin: 10px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 4px 10px 4px rgba(0, 0, 0, 0.849);
}
.cardItem {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 10px;
  height: 500px;
}

.imgCard {
  width: 100%;
  padding: 20px;
  position: relative;
  overflow: hidden;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.prodImg {
  width: 90%;
  height: 90%;
}

.bloqueContenedor {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 4px 6px 10px gray;
}
.bloqueContenedor .titContenedor {
  width: 75%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  color: #000;
  font-weight: bold;
  font-family: "Ramaraja", serif;
  letter-spacing: 0.5rem;
  margin-top: 10px;
}
.separador {
  width: 70%;
  border-bottom: 1px solid #000;
}
.bloqueContador {
  width: 100%;
  height: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bloqueContador h4 {
  font-size: 2.5rem;
  margin: 20px 0;
  font-family: "Syne Mono", monospace;
}
.bloqueDescripcion {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  margin-top: 10px;
  padding: 15px;
  box-shadow: 2px 4px 10px gray;
  text-align: start;
  list-style-type: none;
  font-weight: bold;
  letter-spacing: 0.1rem;
  border-radius: 10px;
}
.bloqueDescripcion li {
  margin-left: 35px;
}

@media screen and (max-width: 992px) {
  .cardItem {
    height: 100%;
    flex-direction: column;
    padding: 0;
  }
  .imgCard {
    padding: 0;
    margin-bottom: 30px;
  }
  .prodImg {
    width: 100%;
    height: 100%;
  }
  .bloqueContador {
    width: 100%;
    height: auto;
  }
  .bloqueContenedor .titContenedor {
    width: 100%;
    padding: 10px;
    font-size: 2rem;
    letter-spacing: 0.1rem;
  }
  .bloqueContador h4 {
    font-size: 2rem;
  }
  .bloqueDescripcion {
    font-size: 1.1rem;
  }
  .bloqueDescripcion li {
    margin: 0;
    line-height: 2rem;
  }
}
