.product-card {
  width: 100%;
  padding: 20px 0;
  border-radius: 10px;
  box-shadow: 2px 4px 10px black;
  height: 550px;
  text-decoration: none;
}
.product-card:hover {
  transform: scale(1.05);
  transition: all 0.4s linear;
}
.img-contenedor {
  position: relative;
  overflow: hidden;
  height: 300px;
  display: flex;
  align-items: center;
}
.prod-img {
  display: block;
  width: 100%;
  height: 100%;
  min-height: 12rem;
  transition: all 0.3s linear;
  padding: 10px;
}
.tit-contenedor {
  height: 200px;
  display: flex;
  flex-direction: column;
}
.tit-contenedor h3 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  font-size: 2rem;
  margin-top: 1rem;
  padding: 10px;
  letter-spacing: 0.2rem;
  color: #000;
}
.tit-contenedor h4 {
  width: 100%;
  letter-spacing: 0.1rem;
  text-align: center;
  color: black;
  font-size: 2rem;
  font-weight: bold;
}

@media screen and (max-width: 560px) {
  .product-card {
    height: 500px;
    width: 100%;
  }
  .img-contenedor {
    justify-content: center;
  }
  .prod-img {
    width: 90%;
    height: 90%;
  }
  .tit-contenedor {
    height: 70px;
  }
  .tit-contenedor h3 {
    font-size: 1.5rem;
  }
  .tit-contenedor h4 {
    font-size: 1.7rem;
  }
}
